<h2><%= "#{@child.first_name}'s Events" %></h2>
<p><%= link_to "Create New Event", new_child_event_path(@child) %></p>
<% @events.each do |event| %>
  <p><%= event.name %></p>
  <p><%= event.start_time.strftime("%b %d, %Y %l:%M %p") %></p>
  <p><%= event.end_time.strftime("%b %d, %Y %l:%M %p") %></p>
  <hr />
<% end %>