<!DOCTYPE html>
<html>
  <head>
    <title>Reminder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'uikit' %>
  </head>

  <body>
    <% if notice || alert %>
    <div uk-alert class="uk-container uk-position-top-center">
      <%= notice %>
      <%= alert %>
    </div>
    <% end %>
    <%= render "layouts/nav" %>
    <div class="uk-container">
      <%= yield %>
    </div>
  </body>
</html>
